/* GENERAL */
*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Roboto;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: #4472C4;
}

a:hover{
  text-decoration: underline;
}

p{
  margin: 0 0 1rem;
}

h1{
  margin: 0 0 1rem;
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

h2{
  margin: 0 0 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
 
.text-blue{
  color: #4472C4;
}

.text-darkblue{
  color: #002060;
}
.text-black{
  color: black;
}
.text-uppercase{
  text-transform: uppercase; 
}

.icon{
  margin-right: .5rem;
}

.cv-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left-column right-column right-column";
  width: 1200px;
  margin: 30px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.section{
  margin-bottom: 1.5rem;
}

/* LEFT COLUMN */
.left-column{
  grid-area: left-column;
  /* padding: 50px; */
  padding: 10px;
  background-color: #4472C4;
  color: white;
}

.portait{
  border-radius: 50%;
  max-width: 150px;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

.skills{
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin: 0 0 1rem;
}

/* RIGHT COLUMN */
.right-column{
  grid-area: right-column;
  display: grid;
  grid-template-rows: 180px 1fr;
  grid-template-areas: 
    "header"
    "content";
}

/* HEADER */
.header{
  height: 150px;
  grid-area: header;
  padding: 50px;
  padding-bottom: 50px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos{
  columns: 2;
  list-style-type: none;
  padding: 0;
}

/* CONTENT */
.content{
  grid-area: content;
  padding: 25px;
  padding-top: 0px;
}

.experience-list{
  list-style-type: circle;
}


/* For Firefox */
progress::-moz-progress-bar {
  background: rgb(251, 253, 252); 
}
::-webkit-progress-inner-element {
  border: 0.5px solid black;
}
/* For Chrome or Safari */
progress::-webkit-progress-value {
  background: rgb(251, 253, 252); 
}

/* For IE10 */
progress {
  background: rgb(186, 194, 188);
}