@media screen and (max-width: 550px) {
  .right-column{
    display:none; 

  }
  .left-column{
    width : 100%;
  }
.cv-container
{  
width : 100%;
display:flex;
    grid-template-columns: 2fr 1fr 1fr;

}

body {
  overflow-x: hidden; 
}
}